# Byte-compiled / optimized / DLL files
__pycache__/

# Others
.idea/

# Internal files
jwt_auth/run_jwt_auth.py

proactive_nudge_reminder/run_nudge_reminder.py

resources/run_resources.py

tenants_params/run_tenant_params.py
tenants_params/tenants_params_event.py

get_file/run_get_file.py

get_list/run_get_list.py


